
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/ad1000/index">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <% if (isAuthenticated) { %>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/ad1000/index">Əsas səhifə</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ad1000/service">Xidmətlər əlavə et</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ad1000/news">Xəbərlər əlavə et</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ad1000/carousel">Karusel əlavə et</a>
                </li>
                <li class="nav-item">
                    <form action="/ad1000/logout" method="post">
                        
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
                <%}%>
            </ul>
        </div>
    </div>
</nav>
